@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap');

:root{
    --primary: #070C0D;
    --secondary: #8E6C88;
    --background: #E7EFEF;
    --accent: #36a6b3;
    --utility: #2bc9a7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--utility);
    color: black;
    font-family: 'Noto Sans Vai', sans-serif;
    font-size: 20px;
}

/* Header */
.header{
    /* border-bottom: 2px solid var(--background); */
    background-color: var(--primary);
    color: white;
}

.header h1{
    padding: 24px 96px;
    width: fit-content;
    transition: 0.5s ;
    text-align: center;
}

.header h1:hover{
    transform: scale(1.018);
}

.container{
    display: flex;
    /* margin: auto 24px; */
}

/* Sidebar */

.sidebar{
    width: 20%;
    /* border: 1px solid; */
    min-height: 89vh;
    background-color: var(--accent);  
    padding: 44px 36px;
}

.sidebar div{
    margin-bottom: 16px;
}

.profile{
    display: flex;
    align-items: center;
}

.profile-icon{
    background-color: var(--background);
    border-radius: 88px;
    font-size: 1.4rem;
    padding: 19px 24px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px;
}

.profile-text #name{
    font-weight: bold;
}

.categories{
    margin-top: 42px;
}

.section{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 18px 20px 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.section p.no{
    color: darkblue;
}

div.final-top-cat{
    /* border-bottom: 1px solid gray; */
    margin-bottom: 78px;
}

/* Tasks List Page */
.main{
    padding: 36px 72px;
    /* background: url('./images/backgrounds/crescent.jpg'); */
    width: 80%;
    position: relative;
}

.greeting{
    margin: 12px 0 54px;    
    font-size: 1.75rem;
}

#user-name{
    color: black;
}

.task{
    margin-bottom: 6px;
    display: flex;
    gap: 16px;
    border: 1px solid;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s transform, 0.2s box-shadow;
    box-shadow: 1px 1px;
    border-left: 8px solid var(--primary);
}

.task:hover{
    transform: scale(1.01);
    box-shadow: 3px 3px;
}

.task .task-date{
    margin-top: 2px;
    color: var(--secondary);
    font-size: 1.2rem;
}

input[type="checkbox"]{
    width: 25px;
    cursor: pointer;
}

/* Add Task */
.task-bar{
    position: absolute;
    bottom: 64px;
    background-color: var(--secondary);
    border-radius: 8px;
    margin-left: 8px;
    width: 90%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 1px;
    opacity: 0.9;
}   

.task-bar input{
    font-size: 1.3rem;
    border: 0;
    outline: 0;
    padding: 8px;
    border-radius: 8px;
    background-color: inherit;
    color: var(--background);
    width: inherit;
}

.task-bar input::placeholder{
    color: white;
}

button{
    background-color: inherit;
    border: 0;
    font-size: 2.5rem;
    margin: 4px 12px;
    padding: 4px;
    cursor: pointer;
    color: var(--background);
}
